Django
numpy
scipy

torch
transformers
sentence-transformers
huggingface-hub
tokenizers

faiss-cpu

pandas
openpyxl

python-magic
PyPDF2
pymupdf

tqdm
requests
Pillow
beautifulsoup4
urllib3
nltk

psycopg2-binary


